<%- include("partials/header") -%>
<div class="spacer">
    <h1>About Us</h1>
    <p>
        Hi there! My name is Ruby, and I am a 23 year old software developer.
        I started Wishwel.ly because as a content creator, I was getting frustrated from constantly redirecting people to different wishlists based on their requests. 
        There are a variety of different wishlist makers and registries out there, but most of those only support adding items individually. 
        Being able to add entire lists from other sites makes building up a Wishwelly very straightforward. It has one job: Display Wishlists. And I hope it does that well!
    </p>

</div>


<%- include("partials/footer") -%>
