<%- include("partials/header") -%>

<h1>About Us</h1>
Wishwelly was started because cofounder Ruby was getting frustrated from constantly redirecting people to different wishlists based on their requests. Amazon is very widely used, but it's not enough.



<%- include("partials/footer") -%>