<%- include("partials/header") -%>
<div class="spacer">
    <div class="home">
        <div class="home-text">
            <h1 class="giant-heading">All your wishlists, in one place</h1>
            <p class="subheading">Combine lists from multiple sites into a single, shareable link.</p>
            <p class="demo-description">
                Currently supporting <strong>Amazon</strong> wishlists and <strong>Etsy</strong> collections.
            </p>                
            <a class="link-style demo-description" href="/collections/wish">
                    <input type="button" class="button" value="Try the demo!"></input>
                </a>            
            
        </div>
        <img class="screenshot" src="/media/demoList.png"/>
    </div>

</div>




<%- include("partials/footer") -%>