<%- include("partials/header") -%>
<div>
    Add multiple wishlists from multiple sites into a composite and user friendly display. Share all of your wishlists using just one link!
</div>
<div>
    <a href="/collections/wish">Click here to see the demo page</a>
</div>



<%- include("partials/footer") -%>