.logo-container {
    width: 30px;
    height: 24px;
}
.image-container {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    /*margin: 10%;
    /*border-style: solid;*/
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.details-container {
    margin: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.item-details {
    margin: 0 10%;
}
.store {
    margin-top: 3%;
}
.center-text {
    text-align: center;
}
footer {
    text-align: center;
    border-style: solid none none none;
    bottom: 0;
    margin-top: 2%;
    padding: 1%;
}
.margins {
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
}
.no-flex-grow {
    flex-grow: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.label-title {
    font-weight: bold;
}
.inline-flex {
    display: inline-flex;
}
form.filter {
    margin: 3% 2%;
    width: 10%;
}
.body {
    width: 90%;
}
h1.list-title {
    margin-top: 2%;
}
.filter-section {
    margin-bottom: 5%;
}
a.noDecor {
    text-decoration: none;
    color: black;
}
.edit {
    display: block;
    margin-left: 15.8%;
}
.full-width {
    width: 100%;
}
.store-header {
    padding-bottom: 2%;
}
.item-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
}
textarea.item-details {
    display: block;
    margin: 5% auto;
    width: 90%;
}
.toggled-buttons {
    display: flex;
    justify-content: center;
}
.no-filter {
    width: 85%;
    margin: 0 auto;
}