.logo-container {
    width: 30px;
    height: 24px;
}
body {
    background-color: aliceblue;
}
.bg-custom {
    background-color: rgb(135, 206, 250, 50%);
    
}
a.navbar-brand {
    opacity: 80%;
}
a.link-style:link, a.link-style:visited {
    color: skyblue;
}
a.link-style:hover {
    color: pink;
}
.image-container {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    /*margin: 10%;
    /*border-style: solid;*/
}
.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.details-container {
    margin: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.item-details {
    margin: 0 10%;
}
.store {
    margin-top: 3%;
}
.center-text {
    text-align: center;
}
footer {
    text-align: center;
    border-style: solid none none none;
    bottom: 0;
    margin-top: 2%;
    padding: 1%;
}
.margins {
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
}
.no-flex-grow {
    flex-grow: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.label-title {
    font-weight: bold;
}
.inline-flex {
    display: inline-flex;
}
form.filter {
    margin: 3% 2%;
    width: 10%;
}
.body {
    width: 85%;
}
h1.list-title {
    margin-top: 2%;
}
.filter-section {
    margin-bottom: 5%;
}
a.noDecor {
    text-decoration: none;
    color: black;
}
.edit {
    display: block;
    margin: 2% 15.8%;
}
.full-width {
    width: 100%;
}
.store-header {
    padding-bottom: 2%;
}
.item-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
}
textarea.item-details {
    display: block;
    margin: 5% auto;
    width: 90%;
}
.toggled-buttons {
    display: flex;
    justify-content: center;
}
.no-filter {
    width: 85%;
    margin: 0 auto;
}
.button {
    color: white;
    background-color: lightskyblue;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 2px solid skyblue;
}
.button:hover {
    color: lightskyblue;
    background-color: white;
}
.spacer {
    padding: 5%;
}
.form-block {
    margin: 0.5%;
}
.flex-options {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.screenshot {
    max-width: 60%;
    padding-left: 5%;
}
.home {
    display: inline-flex;
    align-items: start;
    justify-content: space-between;
}
.subheading {
    font-size: 1.75rem;
    line-height: 1em;
}
.giant-heading {
    font-size: 4.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 90%;
}
.demo-description input{
    font-size: 1.5rem;
    padding: 1% 5%;
}
img#delete {
    cursor: pointer;
    max-width: 2rem;
}
.error {
    margin: 2%;
}
.save-item-btn {
    min-width: 4.25rem;
}