.logo-container {
    width: 30px;
    height: 24px;
}
.image-container {
    width: 100%;
    height: 80%;
    /*margin: 10%;
    /*border-style: solid;*/
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-container {
    height: 20%;
    margin: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.item-details {
    margin: 0 10%;
}
.store {
    margin-top: 3%;
}
.center-text {
    text-align: center;
}
footer {
    text-align: center;
    border-style: solid none none none;
    bottom: 0;
    margin-top: 2%;
    padding: 1%;
}
.margins {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}
.no-flex-grow {
    flex-grow: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.label-title {
    font-weight: bold;
}
.inline-flex {
    display: inline-flex;
}
form.filter {
    margin: 3% 2%;
    width: 15%;
}
.body {
    width: 85%;
}
h1.list-title {
    margin-top: 2%;
}
.filter-option {
    margin-bottom: 5%;
}